body{
    background-color: lightblue;
}
article.blanco{
    background-color: white;
}
article.fondo{
    background-image: url(img/valencia_antigua.jpg);
    background-position: left;
    width: 890px;

    color: blue;
}
h3.Fallas{
    position: relative;
    left: 250px;
}
header{
    text-align: center;
    
   
}
hr.hrheader{
    width: 50%;
}
hr.azul{
    background-color: blue;
    height: 20px;
}
p.imágenes{
    text-align: center;
}
span.H:hover{
    background-color: lightblue;
}
img{
    height: 150px;
    width: 200px;
    
}
.transparente:hover{
    opacity: 0.5;
}
p.C{
    text-align: center;
}
img.Valencia{
    height: 300px;
    width: 400px;
    
}